body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 50px;
}
h1{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}
#gameBoard>button {
    width: 20px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    font-size: 24px; /* Adjust font size as needed */
    background-color: yellow;
  }

 @media (max-width: 992px) { 
    h1 {
        font-size: 200%;

    }
    #gameBoard>button {
        width: 40px; /* Adjust width as needed */
        height: 80px; /* Adjust height as needed */
        font-size: 36px; /* Adjust font size as needed */
        background-color: yellow;
      }
 }
 @media (max-width: 576px) { 
    h1 {
        font-size: 150%;
        text-align: center;
    }
    #gameBoard>button {
        width: 30px; /* Adjust width as needed */
        height: 60px; /* Adjust height as needed */
        font-size: 24px; /* Adjust font size as needed */
        background-color: yellow;
      }
 }
#newGameButton {
    margin-top: 15px;
    background: #800000;
    color: white;
    margin-left: 175px;
}
.container {
    /* display: flex; */
    justify-content: center;
    gap: 5px;
    margin-top: 40px; 
    /* Adjust as needed */
  }